<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Redmine Configuration -->
    <add key="RedmineUrl" value="https://srg-redmine-prd.internal.misumi.jp/projects/g-support/issues?query_id=227" />
    <add key="RedmineUsername" value="g-duc" />
    <add key="RedminePassword" value="ABCD@123.com" />
    
    <!-- Timer Configuration (in minutes) -->
    <add key="TimerIntervalMinutes" value="1" />
  </appSettings>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  
  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true" />
    </settings>
  </system.net>
</configuration>
