<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Redmine Configuration -->
    <add key="RedmineUrl" value="https://srg-redmine-prd.internal.misumi.jp/projects/g-support/issues?query_id=227" />
    <add key="RedmineUsername" value="g-duc" />
    <add key="RedminePassword" value="ABCD@123.com" />
    <add key="RedmineApiKey" value="cb83b88de3bb173b2ac8fa4feb10042a8aad320b" />
    
    <!-- Timer Configuration (in minutes) -->
    <add key="TimerIntervalMinutes" value="1" />
    
    <!-- Auto-Create Ticket Configuration -->
    <add key="MonitorFolder" value="C:\Users\Nguyen\OneDrive - MISUMI Group Inc\bk\test" />
    <add key="BackupFolder" value="C:\Users\Nguyen\OneDrive - MISUMI Group Inc\bk\test\bk" />
    <add key="RedmineProjectId" value="29" />
  </appSettings>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  
  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true" />
    </settings>
  </system.net>
</configuration>
