<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Redmine Configuration (Encrypted with key: gsupport) -->
    <add key="RedmineUrl" value="https://srg-redmine-prd.internal.misumi.jp/projects/g-support/issues?query_id=227" />
    <add key="RedmineUsername" value="qlVGmEfhtn7T+jclTkjPHg==" />
    <add key="RedminePassword" value="996A2FHg6U2Kt/AfL2sEmg==" />
    <add key="RedmineApiKey" value="cb83b88de3bb173b2ac8fa4feb10042a8aad320b" />
    
    <!-- Timer Configuration (in minutes) -->
    <add key="TimerIntervalMinutes" value="1" />
    
    <!-- Auto-Create Ticket Configuration -->
    <!-- Debug Paths -->
    <add key="MonitorFolder_Debug" value="C:\Users\Nguyen\OneDrive - MISUMI Group Inc\bk\CreateRedmineTicket" />
    <add key="BackupFolder_Debug" value="C:\Users\Nguyen\OneDrive - MISUMI Group Inc\bk\CreateRedmineTicket\Backup" />
    <add key="MasterFolder_Debug" value="C:\Users\Nguyen\OneDrive - MISUMI Group Inc\Master" />

    <!-- Release Paths -->
    <add key="MonitorFolder_Release" value="D:\SPC1-3_gsupport\Temp\OneDrive - 株式会社ミスミグループ本社\bk\CreateRedmineTicket" />
    <add key="BackupFolder_Release" value="D:\SPC1-3_gsupport\Temp\OneDrive - 株式会社ミスミグループ本社\bk\CreateRedmineTicket\Backup" />
    <add key="MasterFolder_Release" value="D:\SPC1-3_gsupport\Temp\OneDrive - 株式会社ミスミグループ本社\Master" />

    <!-- Common Configuration -->
    <add key="RedmineProjectId" value="29" />
    <add key="FolderPath" value="\\172.27.0.223\情報システム\マスタ更新履歴\" />
  </appSettings>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  
  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true" />
    </settings>
  </system.net>
</configuration>
